@font-face {
  font-family: 'ms';
  src: url("../../fonts/ms-regular/ms-regular.eot");
  src: url("../../fonts/ms-regular/ms-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/ms-regular/ms-regular.woff") format("woff"), url("../../fonts/ms-regular/ms-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ms';
  src: url("../../fonts/ms-bold/ms-bold.eot");
  src: url("../../fonts/ms-bold/ms-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ms-bold/ms-bold.woff") format("woff"), url("../../fonts/ms-bold/ms-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ms';
  src: url("../../fonts/ms-light/ms-light.eot");
  src: url("../../fonts/ms-light/ms-light.eot?#iefix") format("embedded-opentype"), url("../../fonts/ms-light/ms-light.woff") format("woff"), url("../../fonts/ms-light/ms-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ms';
  src: url("../../fonts/ms-black/ms-black.eot");
  src: url("../../fonts/ms-black/ms-black.eot?#iefix") format("embedded-opentype"), url("../../fonts/ms-black/ms-black.woff") format("woff"), url("../../fonts/ms-black/ms-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

* {
  box-sizing: border-box;
  -webkit-appearance: none; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

body, html {
  margin: 0;
  width: 100%;
  height: 100%; }
  body ::-webkit-scrollbar-button, html ::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 10px;
    height: 0px; }
  body ::-webkit-scrollbar-track, html ::-webkit-scrollbar-track {
    background-color: #2A2846; }
  body ::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: linear-gradient(131.97deg, #5238CF 35.87%, #712EFF 66.42%); }
  body ::-webkit-scrollbar-thumb:hover, html ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(131.97deg, #4731AF 35.87%, #5A22D1 66.42%); }
  body ::-webkit-resizer, html ::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 10px;
    height: 0px; }
  body ::-webkit-scrollbar, html ::-webkit-scrollbar {
    width: 10px; }

#header, #get-film {
  transition: all 1s ease; }

.scale07 {
  transform: scale(0.7);
  pointer-events: none; }

body {
  background-color: #fff;
  color: #fff;
  font-family: "ms", sans-serif;
  line-height: 1.25;
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  min-width: 1060px;
  overflow: hidden;
  overflow-y: scroll; }
  body.--generated-film .content {
    display: block;
    height: calc(100% - 90px); }
  body.opened-menu header.header {
    border-top-left-radius: 35px; }
  body.opened-menu .main-menu {
    width: 450px; }
  body.opened-menu .wrapper {
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    width: calc(100% - 450px); }
    body.opened-menu .wrapper header.header .h__menu {
      height: 20px;
      width: 20px; }
      body.opened-menu .wrapper header.header .h__menu .menu {
        opacity: 0;
        pointer-events: none; }
      body.opened-menu .wrapper header.header .h__menu .close {
        opacity: 1;
        pointer-events: all; }

.btn {
  border: none;
  outline: none;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  -webkit-appearance: none;
  width: fit-content;
  cursor: pointer;
  transition: all .15s ease; }
  .btn:active .text {
    background: linear-gradient(131.97deg, #4F37C5 35.87%, #662BE3 66.42%); }
  .btn:hover {
    box-shadow: 0px 0px 12px rgba(69, 46, 180, 0.3); }
    .btn:hover .icon svg {
      transform: rotate(180deg); }
  .btn .icon {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    background: linear-gradient(142.16deg, #352388 30.61%, #3A2B80 95.25%);
    align-items: center; }
    .btn .icon svg {
      width: 20px;
      transition: all .15s ease;
      height: 20px; }
  .btn .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 28px;
    color: #fff;
    padding-right: 28px;
    background: linear-gradient(131.97deg, #5238CF 35.87%, #712EFF 66.42%);
    height: 60px;
    font-weight: bold;
    font-size: 17px; }

.wrapper {
  background-color: #1B1A28;
  width: 100%;
  transition: all .15s ease;
  min-height: 100vh; }

.content {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center; }

.main-menu {
  width: 0;
  height: 100vh;
  background-color: #fff;
  transition: all .35s ease;
  overflow: hidden; }

.header {
  width: 100%;
  height: 90px;
  padding-left: 35px;
  padding-right: 16px;
  background-color: #1B1A28;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    width: 100%; }
  .header .h__update {
    width: 60px;
    height: 60px;
    border-radius: 80px;
    background: linear-gradient(142.16deg, #352388 30.61%, #3A2B80 95.25%);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .15s ease;
    display: none; }
    .header .h__update--show {
      display: flex; }
    .header .h__update:hover {
      box-shadow: 0px 0px 15px rgba(53, 35, 136, 0.3); }
      .header .h__update:hover svg {
        transform: rotate(180deg); }
    .header .h__update svg {
      width: 20px;
      transition: all .15s ease;
      height: 20px; }
  .header .h__logo {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-top: -7px;
    cursor: pointer; }
    .header .h__logo a {
      text-decoration: none;
      color: #fff !important; }
  .header .h__left {
    display: flex;
    align-items: center; }
  .header .h__menu {
    margin-right: 40px;
    height: 24px;
    cursor: pointer;
    opacity: 0.75;
    transition: all .15s ease;
    position: relative;
    width: 24px; }
    .header .h__menu:hover {
      opacity: 1; }
    .header .h__menu .menu {
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: all;
      opacity: 1;
      transition: all .15s ease; }
    .header .h__menu .close {
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      opacity: 0;
      transition: all .15s ease;
      width: 20px;
      height: 20px; }
    .header .h__menu svg {
      width: 24px;
      height: 24px; }
  .header .h__search {
    margin-right: 40px;
    height: 18px;
    cursor: pointer;
    opacity: 0.75;
    transition: all .15s ease; }
    .header .h__search:hover {
      opacity: 1; }
    .header .h__search svg {
      width: 18px;
      height: 18px; }

.generated-film {
  background-color: #1B1A28;
  display: none;
  opacity: 0;
  transition: all 0.5s ease; }
  .generated-film .block-ttl {
    color: #424367;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
    text-transform: capitalize;
    padding-left: 460px;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 16px; }
  .generated-film__backdrop {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center; }
  .generated-film__video {
    height: 500px; }
    .generated-film__video iframe {
      width: 100%;
      height: 100%; }
  .generated-film__overview {
    padding-left: 460px;
    padding-right: 120px;
    max-width: 1500px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 32px; }
  .generated-film__info {
    display: flex;
    position: relative;
    z-index: 100;
    padding-left: 70px;
    padding-right: 120px;
    max-width: 1500px;
    margin: 0 auto;
    top: 0; }
    .generated-film__info .ratings {
      display: flex;
      margin-top: 16px; }
      .generated-film__info .ratings__item {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 8px 13px;
        background-color: #282947;
        border-radius: 15px;
        color: #7D73B8;
        margin-right: 16px; }
        .generated-film__info .ratings__item svg {
          margin-right: 10px; }
        .generated-film__info .ratings__item .txt .top {
          font-size: 18px;
          line-height: 22px;
          font-weight: bold; }
        .generated-film__info .ratings__item .txt .bot {
          font-size: 10px;
          line-height: 12px; }
        .generated-film__info .ratings__item.votes svg {
          width: 17px;
          fill: #FF3743; }
        .generated-film__info .ratings__item.rating svg {
          width: 17px;
          fill: #ffc107; }
    .generated-film__info--img {
      width: 350px;
      margin-right: 40px; }
      .generated-film__info--img img {
        width: 100%;
        height: auto;
        margin-top: -75%;
        border-radius: 9px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); }
    .generated-film__info--detail {
      padding-top: 40px;
      width: 600px; }
      .generated-film__info--detail .genre {
        color: #424367;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 8px;
        text-transform: capitalize; }
      .generated-film__info--detail .runtime {
        color: #7D73B8;
        font-weight: bold;
        font-weight: 14px;
        line-height: 17px;
        margin-top: 32px; }
        .generated-film__info--detail .runtime svg {
          width: 12px;
          height: 12px;
          margin-right: 4px;
          fill: #fff; }
        .generated-film__info--detail .runtime .time {
          margin-right: 16px; }
      .generated-film__info--detail .title {
        font-size: 48px;
        font-weight: 900;
        line-height: 55px;
        color: #fff; }

/*# sourceMappingURL=main.css.map */